build/opt/
workspace/
zsim.out
zsim.h5
zsim-ev.h5
zsim-cmp.h5
out.cfg
heartbeat
.sconsign.dblite

**/.DS_Store
**/.idea
**/.vscode
/build
/bin
/output
/results
/lib
/contrib
/.sconsign.dblite
/bak*/
/logs